body {font-family: 'Poppins', sans-serif; height: 100%;font-size: 14px;letter-spacing: 1px;margin: 0 auto;color: #000000;}
h1,h2,h3,h4,h5,h6 {font-family: 'Fjalla One', sans-serif;}
h1 {font-size: 30px;font-weight: 400;}
h2 {font-size: 25px;font-weight: 400;}
h3 {font-size: 20px;font-weight: 400;}
a {cursor: pointer; color: #1F3B7C;}
ul {padding: 0;list-style: none;}
.pr-0 {padding-right: 0;}
.img-right {float: right;}
.btn.btn-primary{background-color:#ffdc39;border-color:#ffdc39;color:#000;padding:10px 30px;font-weight:600;text-transform:uppercase;border-radius:0;font-size:15px;font-family:'Fjalla One',sans-serif}
.btn.btn-primary:hover {background-color: #333232;border-color:#333232;color: #FFFFFF;}
.no-padding {padding: 0;}
.form-control{border-radius:0;border:0;min-height:40px}

.admin-menu {font-size: 13px;position: relative;z-index: 999;}
.admin-menu .navbar {min-height: 30px;background-color: #000000;border: 0;margin: 0;border-radius: 0;}
.admin-menu .navbar-brand {font-size: 13px;padding-top: 5px;padding-bottom: 5px;height: auto;color: #ffffff;}
.admin-menu .navbar-default .navbar-nav>li>a {padding-top: 5px;padding-bottom: 5px;color: #ffffff;}


.form-signin {width: 100%;max-width: 330px;padding: 15px;margin: 100px auto;}
.form-signin .checkbox {font-weight: 400;}
.form-signin .form-control {position: relative;box-sizing: border-box;height: auto;padding: 10px;font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="email"] {margin-bottom: 10px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.form-signin input[type="password"] {margin-bottom: 10px;border-top-left-radius: 0;border-top-right-radius: 0;}
a.js_forgot {font-size: 13px;}

#cookie_bar {background-color: rgba(0, 0, 0, 0.9);bottom: 0;position: fixed;width: 100%;z-index: 999;color: #ffffff;padding: 15px;font-size: 13px;}
#cookie_bar a {color: #ffffff;text-decoration: underline;}
#Cookie {background-color: #ffffff;color: #000000;padding: 5px;display: inline-block;border-radius: 3px;text-transform: uppercase;cursor: pointer;}