
@media only screen and (max-width: 1200px){
    .navbar-primary .navbar-nav>li>a {padding: 0 30px;}
    .slide-text {top: 40px;width: 500px;}
    .slide-text h1 {font-size: 22px;line-height: 35px;}
    .about-bottom .curcle {width: 240px;height: 240px;padding: 30px;}
}


@media only screen and (max-width: 991px) {
    .header-right.pull-right {float: none !important;}
    .logo {text-align: center;}
    .logo img {display: inline-block;}
    .header-quote {float: right;}
    .navbar-primary .navbar-nav>li>a {padding: 0 15px;}
    .slide-text {display: none;}
    .whychosse-home {text-align: center;}
    .homegallery h1 {text-align: center;font-size: 35px;}
    .client-section h1 {font-size: 35px;}

    .about-bottom .curcle {width: 190px;height: 190px;padding: 20px;font-size: 15px;}

    .footer-middle .header-phone {margin: 0;padding: 0;background-image: none;}
    .img-responsive {display: inline-block;}
}

@media only screen and (max-width: 767px) {
    .img-right {float: none;}
    .navbar-primary {min-height: 30px;}
    .navbar-header {float: right;}
    .navbar-header .navbar-toggle {padding: 5px;margin: 2px 20px;}
    .navbar-primary .navbar-collapse {width: 100%;margin: 0;padding: 0;}
    .navbar-primary .navbar-nav {margin: 0;padding-top: 15px;padding-bottom: 15px;}
    .navbar-primary .navbar-nav>li {display: block;}
    .navbar-primary .navbar-nav>li>a {margin: 0;border-right: 0;line-height: 35px;}


    .copyright .text-left,.copyright .text-right {text-align: center;}
}


@media only screen and (max-width: 479px) {
}