.top_header{background-color:#333232;color:#fff;line-height:45px;font-family:'Fjalla One',sans-serif;text-transform:uppercase}
.top_header a {color:#FFFFFF;}
.top_header a:hover { color:#FFDC39;text-decoration: none;}
.top_header .fa {color: #FFDC39;font-size: 20px;margin-left: 10px;}

.header {background-color: #ffffff; padding-bottom:15px; padding-top:15px;}
.header-right {margin-top: 20px;}
.logo {position: relative;}
.header-phone {background-image: url(../images/header-tel-icon.png);background-repeat: no-repeat;text-decoration: none;background-position: 0 75%;padding-left: 45px;line-height: 29px;margin-right: 30px;text-align: left;}
.header-phone span {color: #ca3136;font-size: 18px;}
.header-phone a {color: #1e3a8d;font-size: 30px;font-weight: bold;}
.header-quote {background-image: url(../images/headerquote.png);background-repeat: no-repeat;background-position: 17px 50%;border-radius: 40px;border: 2px solid #fff;color: #fefefe;display: inline-block;line-height: 37px;font-size: 14px;font-weight: bold;padding: 0 30px;text-transform: uppercase;margin-top: 17px;margin-right: 0px;float: left;text-decoration: none;padding-left: 59px;}
.header-quote:hover {background-color: #70bee4;color: #fff;}
.navbar-primary {background-color: #ffffff;border: 0;border-radius: 0;margin-bottom: 0; padding-top:25px;font-family: 'Fjalla One', sans-serif;}
.navbar-primary .navbar-nav {float: none;text-align: left; padding-left:30px;}
.navbar-primary .navbar-nav>li {display: inline-block;}
.navbar-primary .navbar-nav>li>a {color: #000000;font-size: 15px;padding: 0 18px;font-weight: normal;text-transform: uppercase;line-height: 60px;}
.navbar-primary .navbar-nav>li:last-child a {border-right: 0;}
.navbar-primary .nav>li>a:focus,
.navbar-primary .nav>li.active>a,
.navbar-primary .nav .open>a,
.navbar-primary .nav>li>a:hover {background-color: #ffdc39;}
.navbar-primary .navbar-nav>li>.dropdown-menu {background-color: #054ea5;min-width: 250px;padding: 0;border-radius: 0;}
.navbar-primary .navbar-nav>li>.dropdown-menu>li>a {color: #ffffff;padding: 10px;}
.navbar-primary .navbar-nav>li>.dropdown-menu>.active>a,
.navbar-primary .navbar-nav>li>.dropdown-menu>.active>a:focus,
.navbar-primary .navbar-nav>li>.dropdown-menu>li>a:hover {background-color: transparent;color: #fcc702;}
.navbar-toggle .icon-bar {border: 1px solid #ffffff;}

.bxslider img {width: 100%;}
.slide-text {position: absolute;top: 80px;color: #ffffff;font-weight: 600;width: 600px;padding: 10px 30px;font-family: 'Fjalla One', sans-serif;}
.slide-text h1 {font-size: 45px;font-weight: 700;margin-bottom: 30px;}

.special-services { background-color:#ffdc39; padding-bottom:100px}
.special-services  h1 { font-size:50px; font-weight:500; padding-top:20px; padding-bottom:10px;}
.special-services h3 { font-size:25px;color: #333333;}
.special-services a { font-weight:bold; text-decoration:underline;color: #000000;}

.service-box {position: relative;}
.service-box h4 {color: #000000;font-size: 25px;font-weight: normal;text-transform: uppercase;position: absolute;width: 100%;padding: 10px 0;text-align: center;background-color: #fdd100; bottom:0; margin:0;}
.topbanner1 {padding-left: 110px;}
.topbanner1 h1 { color: #000000;font-size: 45px !important;font-weight: bold;line-height: 65px; text-align:center;}
.topbanner1 p { text-align:center; color:#000000; font-size:25px; font-weight:bold; line-height:40px;}
.topbanner1 p span { color:#a70000;}  
line-height: 30px;font-size: 19px;font-weight: normal;}
.service-box:hover h4 {background: #bf0625;}
.service-box img {width: 100%;}

.service-box-g {padding-bottom:30px; margin-top:-60px;}
.hesitate { font-size:20px; font-weight:500; color:#333333; padding-bottom: 20px;}
.hesitate span { color:#bf0625; text-decoration:underline;}

.whychosse-home {padding-top:50px; padding-bottom:50px;}
.whychosse-home h1 {color: #000000;font-size: 38px;font-weight: normal;margin-top: 10px;margin-bottom: 30px; text-transform:uppercase;}
.whychosse-home h3 {color: #444444;font-size: 20px;font-weight: 500;}
.whychosse-home strong {color: #019DD8;}

.client-section{background-image:url(../images/testimonial-bg.jpg);background-repeat:repeat-x;padding-top:60px;padding-bottom:60px}
.client-section h1{color:#fff;font-size:50px;text-align:center;padding-bottom:35px;text-transform:uppercase}
.client-section .message-box{background-color:#fff;box-shadow:0 -5px 5px #000;padding:20px;font-size:20px;font-style:italic;padding-bottom:0}
.client-section .info{background-color:#ffdc39;margin-left:-20px;margin-right:-20px;margin-top:40px}
.client-section .info .thumb{display:inline-block;width:90px;height:90px;overflow:hidden;border-radius:100%;margin-top:-55px;border:2px solid #ffdc39;background-color:#fff}
.client-section .info .thumb img{width:100%;height:100%}
.client-section .carousel-control{background-image:none!important;box-shadow:none;text-shadow:none}
.client-section a.left.carousel-control{left:20px;bottom:30px;width:auto;top:auto}
.client-section a.right.carousel-control{right:20px;bottom:30px;width:auto;top:auto}

.gallery-thumb {margin-bottom: 30px;}

.contactt-btn a {color: #ffffff;font-size: 18px;font-weight: bold;}
.emergency_service {background-color: #bf0625;}
.emergency_service h1 { font-size:40px; font-weight: bold; text-align:center; color:#ffffff; line-height:30px; padding-top:55px; padding-bottom:15px;}
.emergency_service p { font-size:25px; padding-bottom:30px;text-align:center; color:#ffffff;}
.album-slide.homegallery li {padding: 0;}
.album-slide.homegallery li img.img-responsive {width: 100%;}
.homegallery ul#album {margin-bottom: 0;}
.homegallery h1 {color: #444444;font-size: 40px;font-weight: 600;margin-top: 40px;margin-bottom: 25px;}
.provied-home {background-color: #1f3b7c;padding: 15px 0;color: #fff;font-size: 20px;font-weight: 600;font-style: italic;margin: 10px 0;}
.page-banner {margin-bottom: 50px;position: relative;}
.page-banner img.img-responsive {width: 100%;}
.page-banner h1 {}
.page-content {}
.page-content h1 {color: #444444;font-size: 40px;position: relative;padding-top: 12px;margin: 0 0 25px;font-weight: bold;}
.page-content h3 {color: #444444;font-weight: 700;font-size: 25px;margin: 0 0 15px;}
.page-content h4 {color: #444444;font-weight: 700;font-size: 20px;margin: 0 0 15px;}
.page-content p {margin-bottom: 20px;}
.page-content strong {color: #019DD8;}
.bg-color {background-color: #F4F4F4;padding-top: 50px;padding-bottom: 50px;}
ul.tik li {margin-bottom: 5px;}
ul.tik li:before {content: '\f046';font-family: 'FontAwesome';color: #7ED3F4;margin-right: 5px;}
.about-bottom {background-image: url(../images/about-bottom-bg.jpg);margin-top: 50px;padding-top: 50px;padding-bottom: 50px;text-align: center;color: #FFFFFF;}
.about-bottom .row {margin-top: 50px;margin-left: 15px;}
.about-bottom .curcle {background-color: #019DD8;border-radius: 100%;width: 280px;height: 280px;padding: 50px;font-weight: 700;font-size: 18px;margin-left: -15px;}
.about-bottom .curcle.light {background-color: #6CC3EB;}
.about-bottom .curcle .number {background-color: #1F3B7C;width: 50px;height: 50px;border-radius: 100%;font-size: 20px;font-weight: 500;padding: 10px;margin: 0 auto 20px;}
.service-bottom {background-image: url(../images/service-bottom-bg.jpg);margin-top: 50px;padding-top: 50px;padding-bottom: 50px;color: #FFFFFF;}
.service-bottom h3 {color: #FFFFFF;}
.exprience img {width: 100%;}

.testimonial-list {font-size: 18px;font-style: italic;text-align: center;padding-top: 30px;padding-bottom: 10px;}
.testimonial-list .thumb {width: 100px;height: 100px;border-radius: 100%;overflow: hidden;margin: 0 auto 10px;}
.testimonial-list .thumb img {width: 100%;height: 100%;}
.testimonial-list h3 {font-size: 18px;}
.testimonial-list.color {background-color: #F4F4F4;}

.contact-page {background-image: url(../images/contact.jpg);background-size: cover;color: #FFFFFF;padding-top: 80px;padding-bottom: 50px;}
.contact-page h1 {font-size: 30px;font-weight: 700;margin-bottom: 30px;margin-top: 0;}
.contact-page a {color: #FFFFFF;}
.contact-page .address {margin-bottom: 30px;}
.contact-page .address:before {content: '\f041';font-family: 'FontAwesome';color: #7ED3F4;margin-right: 15px;font-size: 40px;float: left;margin-top: -8px;}
.contact-page .phone {margin-bottom: 30px;}
.contact-page .phone:before {content: '\f095';font-family: 'FontAwesome';color: #7ED3F4;margin-right: 10px;font-size: 35px;float: left;margin-top: -3px;}
.contact-page .email {margin-bottom: 30px;}
.contact-page .email:before {content: '\f0e0';font-family: 'FontAwesome';color: #7ED3F4;margin-right: 10px;font-size: 30px;float: left;margin-top: -3px;}
.contact-map img {width: 100%;}
.contact-form .form-control {border: 1px solid #d2d2d2;box-shadow: none;border-radius: 0;color: #8b8b8b;min-height: 40px;}
.contact-form {background-color: #FFFFFF;padding: 60px 30px 10px 30px;border-radius: 10px;position: relative;}
.contact-form h4 {background-color: #019DD8;color: #ffffff;display: inline-block;padding: 15px;border-radius: 5px;top: -35px;position: absolute;font-size: 25px;}

.footer {background-color: #27282c;color: #ffffff;}
.footer a {color: #ffffff;}
.footer-contact a {color: #462667;font-weight: 700;}
.footer-middle {background-color: #27282c;padding-top: 30px;padding-bottom: 30px;background-image:  url(../images/footer-bg.jpg); background-repeat:no-repeat; background-size:cover; }
.footer-middle h3{color:#ffdc39;font-size:35px;margin-bottom:20px;text-transform:uppercase}
.footer-middle .fa{color:#ffdc39;font-size:20px;margin-left:10px}
.footer-nav li {margin-bottom: 5px;}
.footer-middle img {margin-right: 10px;}
.footer ul.footer-nav li {display: block;}
.footer ul.footer-nav a {color: #ffffff;font-size: 14px;}
.socialfooter ul {margin-top: 15px;}
.socialfooter li {display: inline-block;}
.socialfooter li a {display: inline-block;width: 55px;height: 55px;margin-right: 10px;border-radius: 100%;background-color: #ffffff;padding: 5px 13px;color: #27282c;font-size: 35px;}
.socialfooter li:last-child a {background-color: #ffffff;}
.socialfooter .header-phone span {color: #444444;}


.copyright {background-color: #000000;color: #fff;font-size: 14px;padding-top: 10px;padding-bottom: 10px;}
.copyright a {color: #fff;}
.footer-contact a {    color: #fff;font-weight: bold;margin-bottom: 12px;display: inline-block;}
.footer-social {margin-top: 15px;}
.footer-top-section {background-color: #f5f3f1;padding: 40px 0;}
.text-content {background-color: #1978e6;color: #fff;font-size: 32px;font-weight: bold;text-align: center;padding: 25px 150px;line-height: 38px;}
.pb15 { padding-bottom:15px;}